.center {
    margin: 0;
    position: absolute;
    top: 50%;
    height: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

body {
    color: #212121;
    background: #fff;
}
  
@media (prefers-color-scheme: dark) {
    body {
      color: #eee;
      background: #212121;
    }
}